<mat-table [dataSource]="dataSource" class="mat-elevation-z8 orderlist-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="fulfillmentStatus">
        <th mat-header-cell *matHeaderCellDef>F.status</th>
        <td mat-cell *matCellDef="let element"> {{element.fulfillmentStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="requestedFor">
        <th mat-header-cell *matHeaderCellDef>Req Time</th>
        <td mat-cell *matCellDef="let element"> {{element.requestedFor}} </td>
      </ng-container>

      <ng-container matColumnDef="orderAmount">
        <th mat-header-cell *matHeaderCellDef>Order Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.orderAmount}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  
  

<!--
<ul class="orders">
    <li *ngFor="let order of orders">
    <button type="button">
      <span class="badge">{{order.id}}</span>
      <span class="name">{{order.name}}</span>
    </button>
  </li>
</ul>
-->